/*variables para medida imagenes*/
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/*Menu Cabecera de Pagina*/
#Menu {
  background-color: #fff06c;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
}
#Menu h2 {
  font-style: oblique;
  color: red;
  text-align: center;
}
#Menu div {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  align-items: center;
}
#Menu img {
  width: 7rem;
}

/*Secciones*/
.Menu__Secciones {
  display: flex;
  justify-content: center;
  justify-items: center;
  font-size: small;
  font-style: normal;
  height: 2rem;
  padding: 1rem 0.5rem;
}
.Menu__Secciones ul {
  list-style-type: none;
  display: flex;
  gap: 0.8rem;
}
.Menu__Secciones li a:hover {
  background-color: rgba(255, 0, 0, 0.856);
  color: #fff06c;
  font-weight: bold;
  padding: 1rem;
  border-radius: 10%;
  transition: all 0.5s;
}

/*Pie de pagina*/
footer {
  padding: 2rem;
  background-color: rgb(163, 250, 221);
  align-items: center;
  color: purple;
}
footer li {
  margin: 1rem;
  display: flex;
  justify-content: center;
  justify-items: center;
  color: blueviolet;
  font-weight: bold;
}
footer li a {
  color: blueviolet;
}

/*Frase de Portada*/
.Portada {
  display: flex;
  justify-content: center;
  justify-items: center;
  padding: 1.5rem;
  background-image: url(../img/soles.jfif);
  background-size: 12rem 6rem;
}

/*Parrafo-Frase*/
.Cuerpo__Parrafo {
  background-color: rgb(250, 219, 223);
  padding: 3rem;
  font-style: italic;
  font-size: x-large;
  font-weight: bold;
  color: rgb(172, 89, 165);
  text-align: center;
  line-height: 2;
}

/*Galeria Inicio*/
.GaleriaSalas__Cuerpo {
  width: 15rem;
  align-items: center;
  text-align: center;
}
.GaleriaSalas__Cuerpo a img {
  border: 5px;
  margin-top: 1rem;
}

/*Index Responsive*/
#IndexResponsive {
  display: grid;
  grid-template-areas: "cabecera" "Frase" "Cuerpo" "galeria" "footer";
  grid-template-columns: repeat 1, 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
}

#Menu {
  grid-template-columns: cabecera;
}

#Frase_Responsive {
  grid-area: Frase;
}

#Cuerpo_Responsive {
  grid-area: Cuerpo;
}

#Cuerpo_Responsive {
  font-size: small;
}

#Galeria_Responsive {
  grid-area: galeria;
}

#GaleriaResponsive {
  background-image: url(../img/Fondo\ estrellas.jfif);
  padding: 2rem 4rem;
  gap: 1rem;
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  font-style: italic;
}

#footer_Responsive {
  grid-area: footer;
}

@media screen and (min-width: 768px) {
  #GaleriaResponsive {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
  }
  .Menu__Secciones {
    display: flex;
    justify-content: center;
    justify-items: center;
  }
  .Menu__ul li a {
    font-size: medium;
    gap: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  #Menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-end;
    padding: 1rem;
  }
  .Menu__ul {
    gap: 3rem;
    justify-content: flex-end;
    align-content: flex-end;
    padding-top: 4rem;
  }
  .Menu__ul li a {
    font-size: large;
    font-style: oblique;
    flex-wrap: none;
  }
  .Portada {
    display: flex;
    justify-content: center;
    justify-items: center;
  }
  footer ul {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: row;
  }
}
/*Nuestra Historia*/
#MenuNG {
  background-color: #fff06c;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
}

.Menu__SeccionesNH {
  display: flex;
  justify-content: center;
  justify-items: center;
  font-size: small;
  font-style: normal;
  height: 2rem;
  padding: 1rem 0.5rem;
}
.Menu__SeccionesNH ul {
  list-style-type: none;
  display: flex;
  gap: 0.8rem;
}
.Menu__SeccionesNH li a:hover {
  background-color: rgba(255, 0, 0, 0.856);
  color: #fff06c;
  font-weight: bold;
  padding: 1rem;
  border-radius: 10%;
  transition: all 0.5s;
}

#MenuN div {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  align-items: center;
}
#MenuN div h2 {
  font-style: oblique;
  color: red;
  text-align: center;
}
#MenuN .Menu__Logo {
  width: 7rem;
}

#HistoriaGrid {
  display: grid;
  grid-template-areas: "cabeceraNH" "Foto1" "Foto2" "Foto3" "Foto4" "Foto5";
  grid-template-columns: repeat(1, 1fr);
}

#HistoriaGrid div img {
  width: 30rem;
}
#HistoriaGrid div p {
  align-content: center;
  padding-top: 1rem;
}

#MenuNG {
  grid-area: cabeceraNH;
}

#HistoriaGrid1 {
  grid-area: Foto1;
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  font-style: oblique;
  padding: 1rem;
  gap: 1rem;
  background-color: rgb(235, 212, 245);
}

#HistoriaGrid2 {
  grid-area: Foto2;
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  font-style: oblique;
  padding: 1rem;
  gap: 1rem;
  background-color: rgb(241, 220, 162);
  font-style: oblique;
}

#HistoriaGrid3 {
  grid-area: Foto3;
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  font-style: oblique;
  padding: 1rem;
  gap: 1rem;
  background-color: rgb(164, 226, 230);
}

#HistoriaGrid4 {
  grid-area: Foto4;
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  font-style: oblique;
  padding: 1rem;
  gap: 1rem;
  background-color: rgb(132, 253, 203);
}

#HistoriaGrid5 {
  grid-area: Foto5;
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  font-style: oblique;
  padding: 1rem;
  gap: 1rem;
  background-color: rgb(241, 166, 223);
}

@media screen and (min-width: 1024px) {
  #HistoriaGrid {
    display: grid;
    grid-template-areas: "cabeceraNH cabeceraNH cabeceraNH" "Foto1 Foto1 ." ". Foto2 Foto2" "Foto3 Foto3 ." ". Foto4 Foto4" "Foto5 Foto5 .";
    grid-template-columns: repeat(3, 1fr);
  }
  .Menu__ulNH {
    gap: 3rem;
    justify-content: flex-end;
    align-content: flex-end;
  }
  .Menu__ulNH li a {
    font-size: large;
    font-style: oblique;
    flex-wrap: none;
  }
  #HistoriaGrid section div p {
    align-content: center;
    padding-top: 1rem;
  }
  #HistoriaGrid section div img {
    width: 20rem;
    padding: 1rem;
  }
}
/*Galeria*/
.Galerias__Fondo {
  padding: 2rem;
  height: 60rem;
}

.Galerias__Titulo {
  font-size: xx-large;
  text-align: center;
  font-weight: bolder;
  align-content: center;
  padding-top: 0.7rem;
  margin-bottom: 2rem;
  font-style: italic;
}

.BotonVolver, .Btn__GaleriaD, .Btn__GaleriaPiratas, .Btn__GaleriaP, .Btn__GaleriaAM {
  padding: 15px;
  margin: 10px;
  border-radius: 20px;
  text-align: center;
  color: black;
}

/*Medidas Imagenes Fotos*/
.maximo {
  width: 30rem;
  height: 40rem;
  margin-left: 25rem;
}

.maximop {
  width: 30rem;
  height: 40rem;
  margin-left: 48rem;
}

.ImagenPiratas {
  width: 30rem;
  height: 40rem;
}

/*Maternal*/
.Fondo__AM {
  background-image: url(../img/GaleriaAnimalesMarinos/FondoAnimalesMarinos.jfif);
}

.Titulo__AM {
  color: rgb(8, 8, 248);
  background-color: aquamarine;
}

.Btn__GaleriaAM {
  background-color: aquamarine;
}

/*Principitos*/
.Titulo__P {
  color: rgba(248, 73, 20, 0.87);
  background-color: rgb(81, 134, 247);
}

.Fondo__P {
  background-image: url(../img/GaleriaPrincipitos/Fondo.PNG);
  background-repeat: no-repeat;
  background-size: 150rem 60rem;
  background-position-x: center;
}

.Btn__GaleriaP {
  background-color: chartreuse;
}

/*Piratas*/
.Btn__GaleriaPiratas {
  background-color: firebrick;
}

.Fondo__Piratas {
  background-image: url(../img/GaleriaPiratas/Fondo.jpg);
  background-repeat: unset;
}

.Titulo__Piratas {
  background-color: firebrick;
  color: rgba(0, 0, 0, 0.473);
}

/*Detectives*/
.Btn__GaleriaD {
  background-color: darkgoldenrod;
}

.Fondo__D {
  background-image: url(../img/GaleriaDetectives/Fondo.jfif);
}

.Titulo__D {
  background-color: darkgoldenrod;
  color: saddlebrown;
}

#GaleriaAct {
  background-image: url(../img/Fondo\ estrellas.jfif);
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-style: italic;
}

.GaleriaAct__Cuerpo {
  width: 15rem;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding: 2.5rem;
}
.GaleriaAct__Cuerpo img {
  border: 5px;
  margin-top: 1rem;
  display: flex;
  align-items: flex-end;
  width: 240px;
  height: 320px;
}
.GaleriaAct__Cuerpo img:hover {
  transform: scale(1.1);
}

/*Formulario Contacto*/
.Formulario {
  background-color: rgb(247, 247, 165);
  font-size: medium;
  font-weight: bold;
  color: rgb(54, 53, 53);
  margin: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
}
.Formulario div {
  align-content: center;
  padding: 1rem;
}
.Formulario h3 {
  text-align: center;
}

#MapaUbicacion {
  display: flex;
  padding: 4rem;
  height: 15rem;
  width: 15rem;
}

@media screen and (min-width: 768px) {
  .Formulario {
    margin-left: 8rem;
  }
  #MapaUbicacion {
    display: flex;
    align-items: center;
    padding-left: 12rem;
    width: 25rem;
    height: 25rem;
  }
}
@media screen and (min-width: 1024px) {
  .Formulario {
    margin: 5rem 30rem;
  }
  #MapaUbicacion {
    display: flex;
    align-items: center;
    padding-left: 25rem;
    width: 30rem;
    height: 30rem;
  }
}
/*Inscripciones*/
.ImagenIns {
  width: 20rem;
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.Inscripciones__Cuerpo {
  background-color: rgb(189, 190, 235);
  overflow: hidden;
}
.Inscripciones__Cuerpo p {
  font-size: large;
  font-style: normal;
  color: rgb(40, 19, 59);
  font-weight: normal;
  line-height: 2rem;
  background-color: rgb(175, 197, 238);
  padding: 5rem;
  text-align: center;
}
.Inscripciones__Cuerpo p a {
  font-weight: bolder;
}

@media screen and (min-width: 768px) {
  .ImagenIns {
    padding: 3rem 14rem;
  }
}
@media screen and (min-width: 1024px) {
  .ImagenIns {
    padding: 3rem 20rem;
  }
}

/*# sourceMappingURL=styles.css.map */
