/*Formulario Contacto*/

.Formulario{
    background-color: rgb(247, 247, 165);
    font-size: medium;
    font-weight: bold;
    color: rgb(54, 53, 53);
    margin: 2rem 30rem;
    text-align: end;
    padding: 2rem;

    div{
        align-content: flex-end;
        padding: 1rem;
        }

        h3{
            text-align: center;
        }



}

#MapaUbicacion{
    display: flex;
    padding: 5rem 30rem;
}